/*  your css code here. If applicable */
#animals{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-evenly;
}
.animal div{
	border-radius:10px;
}
#animal-photos{
	background-color:gray;
}
#name{
	border-radius:50%;
}